body{

	font:13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#858585;
	position:relative;
	min-width:750px;
}                                                                     p{padding-bottom:18px;}
a{color:#5c5c5c;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#323232;font-family: 'Open Sans', sans-serif; text-transform:uppercase; margin-bottom:26px;letter-spacing:1px}
h1{font-size:28px;color:#b3b3b3}
h2{font-size:26px; color:#5aa2c3}
h3{font-size:24px; } 
h4{font-size:22px; color:#4c5257}  
h5{font-size:20px; color:#5c5c5c}
h6{font-size:18px; color:#949697;text-transform:none; padding-bottom:0px;margin-bottom:0px;}
.cls_number  {font-size:22px; color:#a0a6a9;text-decoration:none;border-bottom: 1px solid white;height:20px;overflow:hidden;}
strong { color: black;  }
 