    #splash>ul>li{
        width: 33%;
    }
    .sf-menu>li{
    	width: 164px;
    }
    .sf-menu>li:first-child,.sf-menu>li.last{
        width: 139px;
    }
    .sf-menu>li>a>strong{
        width: 162px;
    }
    .sf-menu>li:first-child>a>strong,.sf-menu>li.last>a>strong{
        width: 138px;
    }
    #splash>ul>li{
        width: 33%;
    }
    .sf-menu>li{
    	width: 164px;
    }
    .sf-menu>li:first-child,.sf-menu>li.last{
        width: 139px;
    }
    .sf-menu>li>a>strong{
        width: 162px;
    }
    .sf-menu>li:first-child>a>strong,.sf-menu>li.last>a>strong{
        width: 138px;
    }
    .buttStyle1{
        text-align: center;
        float: none;
        margin-top: 15px;
    }
    #form2 label.combo .caption {
        top: 4px;
    }
    #form2 label.combo {
        margin: -10px 0 0;
    }
    .col1{
        width: 84%;
    }
    .halfWidth3{
        width: 47%;
        float: left;
        margin-right: 20px; 
    }
    .fullWidth2{
        width: 96%;
    }
    .inner2{
        padding-right: 20px;
        padding-left: 20px;
    }
    .noPaddingLeft980{
        padding-left: 0;
    }
    .list2 > li{
        margin-bottom: 32px;
    }
    .list4{
        margin-right:  20px;
        width: 100%;
    }
    .margin7{
        margin-bottom: 32px;
    }
    .list5>li>img{
        float: left;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .halfWidth3{
        width: 45%;
    }
    .g_map{
        max-width: 854px;
    }
    #form1 textarea {
        width: 98%;
    }
    .padding11{
        padding: 0;
    }
    .quartWidth1{
        width: 25%;
    }
    .quartWidth2{
        width: 70%;
    }
    .margin1{
        margin: 0 20px 0 0;
    }
    .padding3{
        padding-right: 0;
    }
    .halfWidth2{
        width: 47%;
    }
    .fullWidth{
        width: 100%;
    }
    .inner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .padding5, .padding8{
        padding-left: 0;
    }
    .padding2{
        padding-left: 0;
        padding-right: 0;
    }
    .padding11{
        padding-right: 15px;
    }
    .buttStyle1{
        text-align: center;
        float: none;
        margin-top: 15px;
    }
    #form2 label.combo .caption {
        top: 4px;
    }
    #form2 label.combo {
        margin: -10px 0 0;
    }
    .thirdWidth2{
        width: 61%;
    } 
    .imStyle2{
        float: none;
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;
    }
    .col1{
        width: 100%;
    }
    .list1{
        margin-bottom: 10px;
    }
    .fullWidth2{
        width: 96%;
    }
    .halfWidth3{
        width: 45%;
    }
    .quartWidth1{
        width: 28%;
    }
    .quartWidth2{
        width: 66%;
    }
    .list3 > li > a > span{
        position: relative !important;
        display: block !important;
        width: 100% !important;
        text-align: left;
    }
    .list3 > li > a:hover{
        text-decoration: none;
    }
    .list4{
        width: 100%;
    }
    .margin1{
        margin: 0 120px 10px 0;
    }
    .padding3{
        padding: 0;
    }
    .imStyle6{
        float: none;
        margin: 25px 0 15px;
        width: 96%;
    }
    #form1 .error, #form1 .empty {
        right: 12px;
    }
    #wheatherInfo{
        display: none;
    }
    .sf-menu > li > a > em{
        left: 129px;
    }